@import 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css';
@import 'https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css';
/* @import 'https://fonts.googleapis.com/css?family=Raleway:100,600';
@import 'https://fonts.googleapis.com/css?family=Open+Sans:300'; */

html,
body {
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    /* color: #bcbac4;
    background-color: #04040b; */
    color: black;
    background-color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 20px 0;
    text-transform: none;
    color: black;
    /* font-family: 'Bebas Neue', cursive; */
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 1.5;
}

.heading {
    color: black;
}

h1 {
    font-size: xxx-large;
}

h3 {
    color: rgba(230, 78, 62, 0.9);
}

a:link,
a:active,
a:visited {
    color: rgba(255, 255, 255, 1);
}

a:hover {
    color: rgba(255, 255, 255, 0.6);
}

.gray {
    color: #a5a5a5;
}

.team {
    margin: 40px;
}

.team-member {
    margin: 15px 0;
    padding: 0;
}

.team-member figure {
    position: relative;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

.team-member figure img {
    /* min-width: 100%;
    height: 365px; */
    background-color: #e9e1e1;
}

.team-member figcaption p {
    font-size: 16px;
}

.team-member figcaption ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.team-member figcaption ul {
    visibility: visible;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

.team-member figcaption ul li {
    display: inline-block;
    padding: 10px;
}

.team-member h4 {
    margin: 10px 0 0;
    padding: 0;
}

.team-member figcaption {
    padding: 50px;
    color: transparent;
    background-color: transparent;
    position: absolute;
    z-index: 996;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    overflow: hidden;
    visibility: hidden;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.team-member figure:hover figcaption {
    visibility: visible;
    color: #fff;
    background: rgba(230, 78, 62, 0.9);
    /* Primary color, can be changed via colors.css */

    height: 100%;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.team-member figure:hover figcaption ul li a:hover {
    color: rgba(49, 49, 49, .97);
}

.team-member figure img {
    -webkit-transform: scale(1) rotate(0) translateY(0);
    -moz-transform: scale(1) rotate(0) translateY(0);
    -o-transform: scale(1) rotate(0) translateY(0);
    -ms-transform: scale(1) rotate(0) translateY(0);
    transform: scale(1) rotate(0) translateY(0);
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.team-member figure:hover img {
    -webkit-transform: scale(1.1) rotate(1deg) translateY(12px);
    -moz-transform: scale(1.1) rotate(1deg) translateY(12px);
    -o-transform: scale(1.1) rotate(1deg) translateY(12px);
    -ms-transform: scale(1.1) rotate(1deg) translateY(12px);
    transform: scale(1.1) rotate(1deg) translateY(12px);
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

/* body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-weight: 800;
    font-size: xxx-large;
    color: cornflowerblue;
}

h2 {
    color: cornflowerblue;
    font-weight: 800;
    font-size: xx-large;
    margin-bottom: 0;
} */

/* Style buttons */
.btn {
    background-color: rgb(30, 255, 255);
    /* Blue background */
    border: none;
    /* Remove borders */
    font-size: 24px;
    /* Set a font size */
    cursor: pointer;
    /* Mouse pointer on hover */
    border-radius: 25px;
    height: 50px;
    width: 52px;
    margin: 10px;
    position: fixed;
    right: 30px;
    bottom: 30px;
}

footer {
    position: fixed;
    bottom: 0;
}

#chatbot {
    display: none;
    position: fixed;
    right: 100px;
    bottom: 70px;
}

header {
    text-align: center;
}

.intro {
    align-items: center;
    margin-bottom: 50px;
    /* border: solid 1px gray; */
    border-radius: 10px;
    box-shadow: 5px 5px 20px rgb(197, 195, 195);
    padding: 15px;
    display: flex;
}

/* .team {
    display: flex;
    flex-direction: row;
    margin: 10px;
}

.guide {
    position: fixed;
    bottom: 37px;
    right: 110px;
}

.team-image {
    width: 200px;
    height: 240px;
}

#rowland {
    background-color: #dcecf4;
}

#sayed {
    background-color: #c8e4b4;
}

#pourab {
    background-color: #c8e4b4;
}

.card {
    margin: 10px;
    text-align: center;
} */